body {
	background: orange;

}
.contenedor { 

width: 960px;
margin : 0 auto ; 
}
.menu-lista {
	list=list-style-type: none;
	margin: 0 ;
	padding: 0 ;  

}
.menu-item {
display: inline-block;
}
.menu-link {
	padding: 0 10px;
border-radius: 10px;
text-decoration:none;

}
.menu-link {
	font-size: 18px;
	background: red;
	color: black;
	text-decoration: none;
}
nav{
 text-align:center;
}
.menu-link : hover {
	text-decoration: underline;
	box-shadow: 5px 5px 15px orange;
	transition: 0.5s;
}